{% extends 'base.html' %}
{% block nav%}
{% endblock%}
{% block content%}

<main role="main">
  <div class="album py-5 bg-light">
    <div class="container">
      {% for blogs in blog.all%}
      <div class="row">
        <div class="col-md-4">
        <a  href="{% url 'detail' blogs.id %}">{{blogs.title}} </a>
          <div class="card mb-4 shadow-sm">
            <img class="bd-placeholder-img card-img-top" width="100%" height="225" src = {{blogs.image.url}}></img>
          </div>
             <p class="card-text">{{blogs.time}}</p>
            <div class="card-body">
             By <p class="card-text">{{blogs.user}}</p>
            Summary:
              <p class="card-text">{{blogs.body}}</p>
            </div>
            {% if user.is_authenticated %}
            <div class="d-flex justify-content-between align-items-center">
              <a href="{% url 'update' blogs.id %}" class="btn btn-primary">Update</a>
              <a href="{% url 'remove' blogs.id%}" class="btn btn-primary">Remove</a>
              <a  href="javascript:{document.getElementById('vote {{blogs.id}}').submit()}" class="btn btn-primary">Vote<span class="sr-only">(current)</span></a>
              {{blogs.vote}}      
              <form Id='vote {{blogs.id}}' method="POST" action="{% url 'vote' blogs.id %}" >
              {% csrf_token %}
              <input type="hidden" />
              </form>
           
            </div>
             {% endif %}
            <br/>
          </div>
      </div>
      {% endfor %}
    </div>
  </div>
</main>
{% endblock%}